body {
    background-color: #fafafa;
    color: #142638;
    font-family: 'Roboto', sans-serif;
  }

.dark-mode {
    background-color: #142638;
    color: #fafafa;
}

#darkMode {
  background-color: white;
    padding: 5px;
    margin: 10px;
    border: #142638 solid 2px;
}

i {
  padding-right: 5px;
}
.over-75 {
  color: green;
}

.over-50 {
  color: orange;
}

.hide {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

h1 {
  text-align: center;
  width: 600px;
}

ul {
  padding: 0;
}

.btn {
  border: none;
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 500;
  text-transform: uppercase;
}
.btn-primary {
  background: radial-gradient(74.41% 156.32% at 89.91% 93.95%,#c97d0b 0,rgba(255,168,0,0) 100%),linear-gradient( 
    171deg,#fecb00,#e29500);
  color: #142638;
}

#showQuiz:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  box-shadow: inset 0px 0px 0px 3px #fecb00;
  background: inherit;
}

#quizContainer > li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 70px 20px;
}

legend {
  text-align: center;
  padding: 50px;
  line-height: 1.1;
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  background: #efb300;
  color: white;
}

#optionsList {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#optionsList li {

}

fieldset {
  border: none;
}

label {
  align-content: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    background: #142638;
    color: white;
    margin: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 0 0 3px white;
}

label:hover {
  font-size: 1.6rem;
  transition: .2s;
}

input:checked  {
  box-shadow: inset 0 0 0 10px #efb300;
}

#quizControls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 110px 0;
}

#quizFinished {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#quizFinished h2 {
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}